.experience-container {
    min-height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    color: #33f32c;
    padding: 0 0 50px 100px;
}

.experience-title {
    padding: 10vh 0 0 0;
}

.under-construction {
    margin: 10%;
    font-size: 40pt;
}

.experience-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 3% 3% 0 0;
}

.experience-card {
    margin: 0 50px 50px 0;
}
