.navbar-container {
    width: 100%;
    background-color: #000022;
    display: flex;
    position: sticky;
    box-shadow: 0px 2px 5px 3px rgb(0, 0, 0, 0.3);
}

.navbar-container a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
}

.navbar-container a:hover {
    color: dodgerblue;
    transition: 0.3s;
}